@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #0f0f0f;
  --color-card: #ffffff;
  --color-card-foreground: #0f0f0f;
  --color-popover: #ffffff;
  --color-popover-foreground: #0f0f0f;
  --color-primary: #0f0f0f;
  --color-primary-foreground: #fafafa;
  --color-secondary: #f5f5f5;
  --color-secondary-foreground: #0f0f0f;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;
  --color-accent: #f5f5f5;
  --color-accent-foreground: #0f0f0f;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
  --color-border: #e5e5e5;
  --color-input: #e5e5e5;
  --color-ring: #0f0f0f;
  --color-chart-1: #f97316;
  --color-chart-2: #10b981;
  --color-chart-3: #3b82f6;
  --color-chart-4: #f59e0b;
  --color-chart-5: #ef4444;

  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0f0f0f;
    --color-foreground: #fafafa;
    --color-card: #0f0f0f;
    --color-card-foreground: #fafafa;
    --color-popover: #0f0f0f;
    --color-popover-foreground: #fafafa;
    --color-primary: #fafafa;
    --color-primary-foreground: #0f0f0f;
    --color-secondary: #262626;
    --color-secondary-foreground: #fafafa;
    --color-muted: #262626;
    --color-muted-foreground: #a3a3a3;
    --color-accent: #262626;
    --color-accent-foreground: #fafafa;
    --color-destructive: #7f1d1d;
    --color-destructive-foreground: #fafafa;
    --color-border: #262626;
    --color-input: #262626;
    --color-ring: #d4d4d8;
    --color-chart-1: #3b82f6;
    --color-chart-2: #10b981;
    --color-chart-3: #f59e0b;
    --color-chart-4: #8b5cf6;
    --color-chart-5: #ef4444;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
